apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deploymentName }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.deploymentName }}
  template:
    metadata:
      labels:
        app: {{ .Values.deploymentName }}
    spec:
      containers:
        - name: {{ .Values.deploymentName }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          resources: 
            requests: 
              cpu: "800m" 
              memory: "300Mi" 
            limits: 
              cpu: "1"
              memory: "500Mi"
          volumeMounts:
            - name: config-volume
              mountPath: /app/application.properties
              subPath: application.properties
            - name: tmp-volume
              mountPath: /tmp
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: {{ .Values.service.port }}
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: {{ .Values.service.port }}
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.deploymentName }}-config
        - name: tmp-volume
          emptyDir: {}
